.guide-card{
    color: white;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 15%;
    text-align: left;
    padding: 0.5%;
    margin-bottom: 3%;
    margin-top: 0.5%;
    font-size: 30px;
}

.symbol-area{
    background-color: greenyellow;
    float: right;
    padding: 1%;
    color: black;
    font-weight: bolder;
    border-radius: 0.5rem;
    width: 25%;
    text-align: center;
    height: min-content;
}
