.guide-card{
    color: white;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 25%;
    text-align: left;
    padding: 0.5%;
    margin-bottom: 3%;
    margin-top: 1%;
    font-size: 20px;
    justify-content: space-between;
}

.symbol-area{
    padding: 1%;
    font-weight: bolder;
    border-radius: 0.5rem;
    text-align: center;
    width: auto;
    height: auto;
    background-color: transparent;
    border: 2px solid rgb(8, 192, 247);
    color: rgb(8, 192, 247);
    text-shadow: 0 0 5px rgb(8, 192, 247);
    box-shadow: 0 0 10px rgb(8, 192, 247);
}

#player-symbol{
    width: auto;
    height: auto;
}

#computer-symbol{
    border: 2px solid #f0f;
    color: #f0f;
    text-shadow: 0 0 5px #f0f;
    box-shadow: 0 0 10px #f0f;
}

.score{
    display: grid;
}

#player-section{
    float: right;
}

@media screen and (max-width: 400px){
    .guide-card{
        width: 70%;
    }

    .symbol-area{
        width: 25%;
    }
}

/*Phones*/
@media screen and (max-width: 700px) {
    .guide-card{
        width: 70%;
    }

    /* .symbol-area{
        width: 30%;
    } */
}

/*Tablets*/
@media screen and (max-width: 1000px) and (min-width: 700px){
    .guide-card{
        width: 35%;
    }

}

/*iPads*/
@media screen and (max-width: 1300px) and (min-width: 1001px){
    .guide-card{
        width: 30%;
    }

}
