.guide-card{
    color: white;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 15%;
    text-align: left;
    padding: 0.5%;
    margin-bottom: 3%;
    margin-top: 1%;
    font-size: 20px;
}

.symbol-area{
    background-color: greenyellow;
    /* float: right; */
    padding: 1%;
    color: black;
    font-weight: bolder;
    border-radius: 0.5rem;
    width: 31.5%;
    text-align: center;
    height: min-content;
}

#player-symbol{
    background-color: rgb(49, 127, 155);
    width: auto;
    height: auto;
}

.score{
    display: grid;
}

#player-section{
    float: right;
}

@media screen and (max-width: 400px){
    .guide-card{
        width: 70%;
    }

    .symbol-area{
        width: 25%;
    }
}

/*Phones*/
@media screen and (max-width: 700px) {
    .guide-card{
        width: 70%;
    }

    .symbol-area{
        width: 30%;
    }
}

/*Tablets*/
@media screen and (max-width: 1000px) and (min-width: 700px){
    .guide-card{
        width: 35%;
    }

    .symbol-area{
        width: 30%;
    }
}

/*iPads*/
@media screen and (max-width: 1300px) and (min-width: 1001px){
    .guide-card{
        width: 30%;
    }

    .symbol-area{
        width: 26%;
    }
}
