div.menu{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    padding-bottom: 0.5%;
}

.menu-btn{
  background-color: transparent;
  border: 2px solid rgb(8, 192, 247);
  padding: 10px 20px;
  color: rgb(8, 192, 247);
  font-size: 1rem;
  cursor: pointer;
  text-shadow: 0 0 5px rgb(8, 192, 247);
  box-shadow: 0 0 10px rgb(8, 192, 247);
  transition: all 0.3s;
  width: 30%;
  margin-top: 3%;
}

.menu-btn:hover {
    background-color: rgb(8, 192, 247);
    color: #000;
    text-shadow: none;
    box-shadow: 0 0 20px rgb(8, 192, 247);
  }

.link{
    text-decoration: none;
}

#image{
    width: 100%;
    height: 70%;
}

#logo{ 
    width: 75%;
    border-radius: 2.5rem;
    height: 330px;
}

/*Phones*/
@media screen and (max-width: 700px) {

    div.menu{
        width: 100%;
    }

    .menu-btn{
        width: 90%;
        margin-top: 3%;
    }

    #logo{
        width: 90%;
    }

    #image{
        width: 100%;  
    }
}

/*Tablets*/
@media screen and (max-width: 1000px) and (min-width: 700px){
    div.menu{
        width: 50%;
    }

    .menu-btn{
        width: 45%;
        margin-top: 3%;
    }

    #logo{
        width: 90%;
    }

    #image{
        width: 100%;  
    }
}

/*iPads*/
@media screen and (max-width: 1300px) and (min-width: 1001px){
    div.menu{
        width: 50%;
    }

    .menu-btn{
        width: 45%;
        margin-top: 3%;
    }

    #logo{
        width: 90%;
    }

    #image{
        width: 100%;  
    }
}