div.btn-container{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    padding-bottom: 0.5%;
    justify-content: space-between;
}

.control-btn{
    background-color: rgb(66, 171, 66);
    color: black;
    width: 35%;
    height: 50px;
    font-weight: bolder;
    font-size: larger;
    border-radius: 0.5rem;
}

#again-btn{
    background-color: rgb(26, 200, 223);
}


@media screen and (max-width: 400px){
    div.btn-container{
        width: 95%;
    }

    .control-btn{
        width: 45%;
    }
}

/*Phones*/
@media screen and (max-width: 700px) {
    div.btn-container{
        width: 90%;
    }

    .control-btn{
        width: 45%;
    }
}

/*Tablets*/
@media screen and (max-width: 1000px) and (min-width: 700px){
    div.btn-container{
        width: 55%;
    }
}

/*iPads*/
@media screen and (max-width: 1300px) and (min-width: 1001px){
    div.btn-container{
        width: 50%;
    }
}