.field{
    text-align: center;
    border: 2px solid rgb(1, 1, 23);
    padding: 5px;
    border-radius: 0.5rem;
    height: 150px;
    border: 1px solid #0ff;
    color: #0ff;
    text-shadow: 0 0 8px #0ff;
    background-color: #111;
    font-size: larger;
}

.field h1{
    text-align: center;
    font-size: x-large;
}

.field:hover{
    background-color: #342f2f;
}

#computer-symbol{
    color: #f0f;
    text-shadow: 0 0 10px #f0f;
}

#player-symbol{
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
}